<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodi</title>
</head>
<body>
    <header>
        <figure>
            <img src="" alt="Logo de Nodi... ya va a tener">
            <figcaption>Nodi <span>tu nuevo calendario</span></figcaption>
        </figure>
    </header>
    <main>
        <article>Aca va una publicidad chida...</article>
        <section>
            <h2>Que carajos es NODI</h2>
            <p>NODI es un bot que busca ayudarte a recordar eventos importantes avisandote a whatsapp</p>
        </section>
        <section>
            <h2>Ingresa</h2>
            <details>
                <summary>LogIn</summary>
                <form action="" method="post" id="logIn">
                    <input type="tel" name="tel" id="signIn-Tel" placeholder="+000 111 2222 3333">
                    <input type="password" name="pass" id="signIn-Password">
                    <input type="submit" value="enviar">
                </form>
            </details>
            <details>
                <summary>SignIn</summary>
                <form action="" method="post" id="signIn">
                    <input type="text" name="nombre" id="signIn-Name" placeholder="Nombre">
                    <input type="text" name="apellido" id="signIn-LastName" placeholder="Apellido">
                    <input type="email" name="email" id="signIn-email" placeholder="Correo@electronico.com">
                    <input type="tel" name="tel" id="signIn-Tel" placeholder="+000 111 2222 3333">
                    <input type="password" name="pass" id="signIn-Password">
                    <input type="submit" value="enviar">
                </form>
            </details>
        </section>
    </main>
</body>
</html>