<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODI</title>
  </head>
  <body>
    <header>
      <figure>
        <img src="" alt="Logo de Nodi... ya va a tener" />
        <figcaption>Nodi <span>tu nuevo calendario</span></figcaption>
      </figure>
      <fieldset>
        <img src="" alt="logo del usuario" loading="lazy" />
      </fieldset>
    </header>
    <main>
      <section>
        <h2>datos</h2>
        <form action="">
          <fieldset>
            <legend>info de usuario</legend>
            Nombre:
            <input
              type="text"
              name="nombre"
              id="user-Name"
              placeholder="Nombre"
            />
            Apellido:
            <input
              type="text"
              name="apellido"
              id="user-LastName"
              placeholder="Apellido"
            />
            Email:
            <input
              type="email"
              name="email"
              id="user-Email"
              placeholder="Correo@electronico.com"
            />
            Telefono:
            <input
              type="tel"
              name="tel"
              id="user-Tel"
              placeholder="+000 111 2222 3333"
            />
            Fecha de Nacimiento:
            <input type="date" name="nacimiento" id="user-Nac" /> Contraseña:
            <button>Cambiar</button>
          </fieldset>
          <input type="submit" value="Enviar" />
        </form>
        <form>
          <fieldset>
            <legend>seleccion de aviso</legend>
            <label for="important">fechas importantes</label>
            <input type="checkbox" name="important" id="" />
            <label for="cumples">cumples</label>
            <input type="checkbox" name="cumples" id="" />
            <label for="countdown">countdown parciales</label>
            <input type="checkbox" name="countdown" id="" />
            <label for="links">link de acceso a zoom</label>
            <input type="checkbox" name="links" id="" />
          </fieldset>
          <input type="submit" value="Enviar" />
        </form>
      </section>
      <section>
        <h2>Cargar/Vincular info</h2>
        <p>Aca hay que cargar, en que comision curso</p>
        <form action="">
            <select name="" id="">
                <optgroup label="Comisión">
                    <option value="0522TDBE1N1C1LAED0521PT">0522TDBE1N1C1LAED0521PT</option>
                    <option value="0522TDBE1N2C2LAED0521PT">0522TDBE1N2C2LAED0521PT</option>
                    <option value="0522TDBE1N1C3LAED0521PT" selected>0522TDBE1N1C3LAED0521PT</option>
                    <option value="0522TDBE1N2C4LAED0521PT">0522TDBE1N2C4LAED0521PT</option>
                    <option value="0522TDBE1N2C6LAED0521PT">0522TDBE1N2C6LAED0521PT</option>
                    <option value="0522TDBE1N1C7LAED0521PT">0522TDBE1N1C7LAED0521PT</option>
                    <option value="0522TDBE1N2C8LAED0521PT">0522TDBE1N2C8LAED0521PT</option>
                    <option value="0522TDBE1N1C9LAED0521PT">0522TDBE1N1C9LAED0521PT</option>
                    <option value="0522TDBE1N2C10LAED0521PT">0522TDBE1N2C10LAED0521PT</option>
                    <option value="0522TDBE1N2C11LAED0521PT">0522TDBE1N2C11LAED0521PT</option>
                    <option value="0522TDBE1N2C12LAED0521PT">0522TDBE1N2C12LAED0521PT</option>
                    <option value="0522TDBE1M1C1LAED1021FT">0522TDBE1M1C1LAED1021FT</option>
                </optgroup>
            </select>
            <input type="submit" value="seleccionar">
        </form>
      </section>
    </main>
  </body>
</html>
